:root {
    --main-color: #ffd6d6;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.home {
    color: black;
    float: right;
}

html {
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: #fcf5f5;
}

.navbar {
    text-decoration: none;
    list-style: none;
}

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header .navbar a {
    margin-left: 70px;
    font-size: 1.2rem;
    color: black;
}

.header .navbar a:hover {
    color: gray;
    text-decoration: none;
}

.logo img {
    height: 6rem;
    width: 6rem;
}

.heading {
    margin-top: 90px;
    /* margin-right: 400px; */
    margin-left: 320px;
}

.image {
    margin-top: 100px;
    display: flex;
}

.btn {
    background-color: rgb(168, 80, 80);
    color: white;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(163, 111, 111);
    color: white;
}

.product {
    margin-left: 50px;
}

.jeans {
    height: 250px;
    width: 200px;
    margin-left: 200px;
    margin-top: 100px;
}

.shirt {
    height: 250px;
    width: 200px;
    margin-top: 100px;
    margin-left: 20px;
}

.feature {
    margin-left: 475px;
    margin-top: 30px;
    font-size: 20px;
}

hr {
    background-color: orange;
    width: 15%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:991px) {
    html {
        font-size: 75%;
        /* overflow-x: hidden; */
    }

    .heading {
        margin-left: 1px;
    }

    .inner_heading {
        margin-left: 90px;
    }

    .btn {
        margin-left: 90px;
    }

    .jeans {
        margin-left: 100px;
    }

    .shirt {
        margin-left: 100px;
    }

    /* .row_product {
        flex-direction: column;
    } */

    .feature {
        margin-left: 150px;
    }
}