:root {
    --main-color: #ffd6d6;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.home {
    color: black;
    float: right;
}

html {
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: #fcf5f5;
}

.navbar {
    text-decoration: none;
    list-style: none;
}

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header .navbar a {
    margin-left: 70px;
    font-size: 1.2rem;
    color: black;
}

.header .navbar a:hover {
    color: gray;
    text-decoration: none;
}

.logo img {
    height: 36px;
    width: 96px;
}

.heading {
    margin-top: 90px;
    /* margin-right: 400px; */
    margin-left: 320px;
}

.image {
    margin-top: 100px;
    display: flex;
}

.btn {
    background-color: rgb(168, 80, 80);
    color: white;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(163, 111, 111);
    color: white;
}

.product {
    margin-left: 50px;
}

.jeans {
    height: 250px;
    width: 200px;
    margin-left: 200px;
    margin-top: 100px;
    cursor: pointer;
}

.shirt {
    height: 250px;
    width: 200px;
    margin-top: 100px;
    margin-left: 20px;
    cursor: pointer;
}

.feature {
    margin-left: 475px;
    margin-top: 30px;
    font-size: 20px;
}

.line {
    background-color: orange;
    width: 15%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.product1 {
    height: 190px;
    width: 190px;
    margin-left: 80px;
}

.red {
    margin-left: 100px;
    margin-top: 10px;
}

.black {
    margin-left: 70px;
    margin-top: 8px;
}

.gray {
    margin-left: 100px;
    margin-top: 8px;
}

.blue {
    margin-left: 105px;
    margin-top: 8px;
}

.latest {
    margin-left: 475px;
    margin-top: 30px;
    font-size: 20px;
}

.line2 {
    background-color: orange;
    width: 15%;
    height: 20%;
    margin-top: 2px;
    margin-left: 460px;
}

.pink {
    background-color: var(--main-color);
}

.watch img {
    height: 280px;
    width: 280px;
    margin-top: 50px;
    margin-left: 70px;
}

.text {
    margin-left: 150px;
    margin-top: 50px;
}

.buy {
    background-color: rgb(168, 80, 80);
    color: white;
    border-radius: 10px;
    margin-left: 145px;
    height: 40px;
    width: 80px;
}

.buy:hover {
    background-color: rgb(163, 111, 111);
    color: white;
}

.box1 {
    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
}

.boxes {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
}

.image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-left: 25px;
}

.name {
    margin-left: 30px;
    margin-top: 5px;
}

.brands {
    margin-left: 60px;
    margin-top: 10px;
}

.brand img {
    cursor: pointer;
    margin-left: 90px;
    height: 80px;
    width: 80px;
}

.footer {
    background-color: black;
}

.footer_text {
    margin-top: 30px;
    margin-left: 200px;
    color: #fff;
}

.store {
    margin-left: 195px;
    height: 50px;
    width: 150px;
}

.store1 {
    height: 50px;
    width: 150px;
}

.logo2 {
    margin-top: 20px;
    margin-left: 70px;
    width: 120px;
    height: 50px;
}

.footer_text2 {
    color: #fff;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 12px;
}

.footer_text3 {
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 45px;
}

.footer_text4 {
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 50px;
}

.footer_text5 {
    color: #fff;
    font-size: 20px;
    margin-top: 33px;
    margin-left: 45px;
}

.line3 {
    background-color: gray;
    margin-top: 20px;
}

.copyright {
    color: #fff;
    margin-top: 20px;
    margin-left: 570px;
    font-size: 15px;
}

@media (max-width:768px) {
    html {
        font-size: 75%;
        /* overflow-x: hidden; */
    }

    .heading {
        margin-left:1px;
    }

    .inner_heading {
        margin-left: 90px;
    }

    .btn {
        margin-left: 90px;
    }

    .jeans {
        margin-left: 100px;
    }

    .shirt {
        margin-left: 100px;
    }

    .feature {
        margin-left: 150px;
    }

    .product1 {
        margin-left: 170px;
        margin-top: 15px;
    }

    .red {
        margin-left: 200px;
    }

    .black {
        margin-left: 200px;
    }

    .gray {
        margin-left: 200px;
    }

    .blue {
        margin-left: 200px;
    }

    .latest {
        margin-left: 180px;
    }

    .line2 {
        margin-left: 200px;
    }

    .text {
        margin-left: 30px;
    }

    .brands {
        margin-left: 15px;
    }

    .footer_text {
        margin-left: 80px;
    }

    .store {
        margin-left: 80px;
    }

    .logo2 {
        margin-left: 170px;
    }

    .footer_text2 {
        margin-left: 100px;
    }

    .footer_text3 {
        margin-left: 100px;
    }

    .footer_text4 {
        margin-left: 100px;
    }

    .footer_text5 {
        margin-left: 100px;
    }

    .copyright {
        margin-left: 180px;
        font-size: 12px;
    }

    .pink {
        background-color: #fff;
    }

    /* .footer{
        background-color: #fff;
    } */
}

@media (max-width:450px) {
    html {
        font-size: 80%;
        overflow-x: hidden;
    }
}